#adminNavbar {
    background-color: rgb(88, 88, 88);
    border: 1px solid black;
}
.nav-item {
    margin: 10px;
}
.navbar{
    margin-top: 0%;
    left: 0;
    padding:0px;
    background: rgb(88, 88, 88);
}
.admin-services{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
}