
.btn-outline-primary{
    float: left;
}
.movietable-section{
    justify-content: left;
}

.container{
    justify-content: space-evenly;
}
.form-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.movie-form {
    border: 2px solid #fff;
    border-radius: 10px;
    margin:2px;
}

.form-control-sm{
    margin:20px
}