.filter{
    width: 12vw;
}

.moviecards-filter{
  background-color: #fff;
}

.movie-filters-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*--------------------------------------------------------------
# moviecard
--------------------------------------------------------------*/
.movie-cards-container{
  display: flex;
  flex-wrap:wrap;
}

.moviecard-section{
  padding: 0%;
}

.movie-card-list-col .movie-list-card {
    width:18vw;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
  }
  
.movie-list-card .movie-poster {
    position:relative;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
  } 
  
  .movie-card-col .movie-list-card .movie-poster > img{
    float: left;
    width:100%;
    height:270px;
    object-fit:cover;
  }
  
  .movie-card-col .movie-list-card .movie-info  {
    transition: color 0.3s;
    color: #414c64;
    padding: 9px;
    display: inline-block;
  }
  
.movie-list-card .movie-info:hover{
    color: #ffc107;
  }
  
.movie-list-card .movie-info{
    font-size: 18px;
    margin: 0 2px;
    padding: 25px 15px;
  }
  
.movie-list-card .movie-info h4 {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    color: #3c4352;
  }
  
  .movie-list-card .movie-info span {
    display: block;
    font-size: 13px;
    font-weight: normal;
    color: #aaaaaa;
  }
  
  .movie-list-card .movie-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
  }
  