.movie-details-card {
    margin: 20px;
    width:20vw;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
  }
  
  .movie-details-card .movie-poster {
    position:relative;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
  } 

  .movie-details-card .movie-poster > img {
      float: left;
      width:100%;
      height:300px;
      object-fit:cover;
  }

  .movie-details-card .movie-poster .trailer-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgb(29, 27, 27);
    padding: 5px;
    border-radius: 10px;
  }
  
.movie-details-card-bottom {
    display: block; 
  }

.movie-details-card-bottom-label {
    font-size: 13px;
    font-weight: 600;
    color: #2a2727;
  } 
.moviedetails {
    margin-top: 40px;
    margin-left: 10px;
    color: #fff;
    line-height: 30px;
}
.movie-details-poster-area {
  background-position:right center;
}

.moviedetails > section {
    font-size: 16px;
    font-weight: 600;
    margin:2%
}
.movie-description {
    font-size: 100%;
    font-weight: 400;
    text-align: left;
    color: black;
    margin-left:20px
}

.detail-strip {
  background-color:#f7f7f2;
  padding:6px 9px;
  color:black;
  border-radius:10px;
}

.book-show-button {
  margin-top:20px
}
.trailerModal-content {
  height:45vw;
  overflow-y:scroll
} 
.iframe{
  width: 80%;
  height:50vh;
  border-radius: 10px;
}
.iframe-container{
  margin:20px
}

/* @media (min-width: 1200px) {
  .movie-card-col {
    justify-self: center;
  }
} */