.form-control {
    width:10vw;
    height:7vh;
}
/* .show-filter{
    border: 2px solid green;
    border-radius: 10px;
} */
.show-filter-components{
    margin-left: 20px;
}

.show-container{
    border: 2px solid green;
    border-radius: 10px;
    min-height: 60vh;
}


/*---------------------------------
Review
-----------------------------*/
  .shows-card{
    margin-top: 15px;
  }
  
  .shows-user{
    float:left;
    left:5px
  }
  .shows-rating{
    float:right;
    right:5px
  }

  .card-header{
      background-color:linen;
  }
  
  @media (max-width: 1200px) {
    .shows .shows-list {
      padding: 0;
    }
  }