.payments-component{
    display: flex;
    justify-content: center;
    align-items: center;
}

.paymeny-checkout-box{
    width:50vw;
    height:50vh;
    margin:auto;
    border:1px solid black;
    border-radius: 10px;
    display: grid;
    place-items: center;
    margin: auto;
    background-color: lightgray;
    padding:100px;
}