.review-movie-card-col{
    justify-content: center;
    align-items: center;
}
.review-movie-card {
    margin-bottom: 20px;
    width:12vw;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
  }
  
  .review-movie-card .review-movie-poster {
    position:relative;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
  } 

.review-movie-poster > img{
      float: left;
      width:100%;
      object-fit:cover;
  }
  
.movie-card-bottom {
    display: block; 
  }

.review-stats{
    margin: 10px;
    width: 30%;
    justify-content: center;
    color: #fff;
}
.review-stats > section {
    font-size: 16px;
    font-weight: 600;
    margin:2%
}
.write-review-button{
    color: rgb(248, 68, 100);
    border: 1px solid rgb(248, 68, 100);
    cursor: pointer;
    background: inherit;
    border-radius: 5px;
    padding:5px;
    margin-top:10px
}

.review-container{
    justify-content: center;
    overflow-y:scroll;
    height: 60vh;
    border-radius: 15px;
    background-color: #fff;
    margin:20px
}

.review-card {
    margin-top: 15px;
    width:90%;
    text-align: left;
  }

.review-card-header {
  background-color:rgb(243, 237, 231);
}
  
.review-user{
    float:left;
    left:5px
  }
.review-rating{
    float:right;
    right:5px
  }

.modal-content {
    border-radius: 15px;
  }

.ratingRadio {
  display: none;
}

.ratingstar{
  size: 10;
  cursor: pointer;
}
  
  @media (max-width: 1200px) {
    .review .review-list {
      padding: 0;
    }
  }