.seat {
    background-color: #fff;
    font-size: 10px;
    font-weight: 400;
    height: 20px;
    width: 20px;
    margin: 9px;
    border:1px solid #1ea83c;
    color: #1ea83c;
    font-size: small;
    line-height: 25px;
  }
  .seat.selected {
    background-color: #2d8b94;
    color: #fff;
  }
  
  .seat.occupied {
    background-color: #7f8386;
    color:#7f8386;
  }

  .booking-page-header {
    width: 100%;
    margin:0 auto;
    background: #dde5ed;
    position: sticky;
    display: flex;
    justify-content: space-between;
  }

  .booking-page-footer {
    width: 100%;
    margin:0 auto;
    padding:20px;
    bottom: 0;
    background: #dde5ed;
    position: fixed;
    justify-content: center;
  }

  .movie-show-ref {
    justify-content: center;
    display: block;
    text-align: center;
  }
  
  .showcase {
    list-style-type: none;
    display: flex;
    justify-self: right;
    right: 0;
  }

  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  .showcase li small {
    margin-left: 2px;
  }

  .cinemahall-container{
    display: flex;
    justify-content:center;
    width:60vw;
    margin:auto;
    background-color: #fafafa;
  }

  .screen {
    background-color: #dde5ed;
    color: #242333;
    height: 50px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
    border: 1px solid black;
  }

  .btn-payment {
    background-color: #f84464;
  }

  .booking-actions{
    border:solid black;
    display: flex;
  }
  .seating-arrangement{
    margin-bottom: 30px;
    padding: 20px;
  }

  .seat:nth-of-type(2) {
    margin-right: 28px;
  }
  
  .seat:nth-last-of-type(2) {
    margin-left: 28px;
  }
  
  .seat:not(.occupied):hover {
    cursor: pointer;
  }
  
  .showcase .seat:not(.occupied):hover {
    cursor: default;
  }