.signup-forms{
    display: flex;
    justify-content: space-evenly;
}
.form-card{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ffff;
    padding: 20px;
    align-items: center;
}
.form-group{
    justify-items: center;
}
.radio-inline{
    margin-left: 10px;
}
.back-button{
    float: left;
    color: darkgreen;
    margin: 10px;
    cursor: pointer;
}

.creds{
    width:90%;
}
